.venv/
#data/


config.js

*.tif
#*.pmtiles
*.geojson
*.geojson.gz
*.pbf
*.fgb
*.json
*.gpkg

*.clr

*.parquet 

*.csv.zip


# But keep JSON files in the project root (main) folder
!/*.json

#also exclude JSON files in the icons folder
# !/icons/*.json




